config EXAMPLES_MY_CLIENT
	tristate "My Client Application"
	default n
	---help---
		Enable the custom client network application.

if EXAMPLES_MY_CLIENT

config EXAMPLES_MY_CLIENT_PROGNAME
	string "Program name"
	default "my_client"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_MY_CLIENT_PRIORITY
	int "Client task priority"
	default 100

config EXAMPLES_MY_CLIENT_STACKSIZE
	int "Client stack size"
	default 2048

endif
